#{extends 'main.html' /} #{set title:'Edit Control' /}
<script type="text/javascript">
jQuery(document).ready(function(){
	//Si la valeur de la selectbox change
	 jQuery("#typeId").change(function(){
		 //on recupere la valeur de la selectbox
		 v =  $("#typeId").val();
		 //On rend invisible tout les champs
		 $("#regexClass").hide();
		 $("#boudaryClass").hide();
		 $("#valueClass").hide();
		 $("#taxoClass").hide();
		 $("#refGeoClass").hide();
		 $("#territoireClass").hide();
		 
		 //En fonction de la valeur de la selectbox
		 //on rend visible les champs
		 switch(v){
			 case "2":
		 			$("#taxoClass").show();
			 		break;
			 case "3":
		 			$("#refGeoClass").show();
			 		break;
			 case "5":
			 		$("#valueClass").show();
			 		break;
			 case "6":
			 		$("#regexClass").show();
			 		break;
			 case "8":
				 	$("#boudaryClass").show();
			 		break;
			 case "9":
				 	$("#territoireClass").show();
			 		break;
		 }
	 });
	 var $datasetType = $('#datasetTypeId');
	 var $field = $('#fieldIdTab');
	 $datasetType.on('change', function() {
	        var val = $(this).val(); // on récupère la valeur du datasetType
	        var updateRoute = #{jsRoute @Control.listField(':id') /}
	 
	        if(val != '') {
	            $field.empty(); // on vide la liste des field
	             
	            $.ajax({
	                url: updateRoute.url({id: val}),
	                dataType: 'json',
	                success: function(json) {
	                    $.each(json, function(index, value) {
	                        $field.append('<option value="'+ value.id +'">'+ value.name +'</option>');
	                    });
	                }
	            });
	        }
	    });
	});
</script>
<div id="modal">
	<div class="modal-header">
		<h3>Edit control</h3>
	</div>
	#{form @Control.editSave()} 
		<div class="modal-body" id="new_controls">
			<input type="hidden" id="id" name="id" value="${control.id}" />
			<label>Name: </label> 
			<input type="text" id="name" name="name" value="${control.name}" /> 
			#{ifError 'name'}
				<span class="alert alert-error">#{error 'name' /}</span>
			#{/ifError}
			
			<label>Description: </label> 
			<input type="text" id="description" name="description" value="${control.description}" /> 
			#{ifError 'description'}
				<span class="alert alert-error">#{error 'description' /}</span>
			#{/ifError}
			
			<label>Dataset Type</label>
			<select id="datasetTypeId" name="datasetTypeId" width="200">
				<option></option>
				#{list items:datasetTypes, as:'datasetType'}
					#{if datasetType.id == control.datasetType.id}
					<option value="${datasetType.id}" selected="selected">${datasetType.name}</option>
						#{/if}
						#{else}
					<option value="${datasetType.id}">${datasetType.name}</option>
						#{/else}
					#{/list}
			</select>  
			#{ifError 'datasetTypeId'}<span class="alert alert-error">#{error
				'datasetTypeId' /}</span>
			#{/ifError}  
				
			<label>Validation Type</label>
			<select id="typeId" name="typeId" width="200">
				<option></option>
				#{list items:typeValidations, as:'typeValidation'}
					#{if typeValidation.id == control.validationType.id}
					<option value="${typeValidation.id}" selected="selected">${typeValidation.name}</option>
						#{/if}
						#{else}
					<option value="${typeValidation.id}">${typeValidation.name}</option>
						#{/else}
					#{/list}
			</select>  
			#{ifError 'typeId'}<span class="alert alert-error">#{error
				'typeId' /}</span>#{/ifError}
				
			#{if control.validationType.id ==6}
			<div id="regexClass">
			#{/if}
			#{else}
			<div id="regexClass" style="display: none;">
			#{/else}
				<label>Regex: </label> 
				<input type="text" id="regex" name="regex" value="${control.regex}" /> 
				#{ifError 'regex'}
					<span class="alert alert-error">#{error 'regex' /}</span>
				#{/ifError}
			</div>
			#{if control.validationType.id == 8}
			<div id="boudaryClass">
			#{/if}
			#{else}
			<div id="boudaryClass" style="display: none;">
			#{/else}
				<label>Boudary lower: </label> 
				<input type="text" id="boudaryLower" name="boudaryLower" value="${control.boudaryLower}" /> 
				#{ifError 'boudaryLower'}
					<span class="alert alert-error">#{error 'boudaryLower' /}</span>
				#{/ifError}
				<label>Boudary higher: </label> 
				<input type="text" id="boudaryHigher" name="boudaryHigher" value="${control.boudaryHigher}" /> 
				#{ifError 'boudaryHigher'}
					<span class="alert alert-error">#{error 'boudaryHigher' /}</span>
				#{/ifError}
			</div>
			
			
			#{if control.validationType.id == 5}
			<div id="valueClass">
			#{/if}
			#{else}
			<div id="valueClass" style="display: none;">
			#{/else}
				<label>Not possible value: </label> 
				<input type="text" id="value" name="value" value="${control.value}" /> 
				#{ifError 'value'}
					<span class="alert alert-error">#{error 'value' /}</span>
				#{/ifError}
			</div>
			
			#{if control.validationType.id == 2}
			<div id="taxoClass">
			#{/if}
			#{else}
			<div id="taxoClass" style="display: none;">
			#{/else}
				<label>Type: </label> 
				<select id="taxoId" name="taxoId" width="200">
					<option></option>
					<option value="1" #{if control.taxoId == 1}selected#{/if}>Taxref en cours</option>
					<option value="2" #{if control.taxoId == 2}selected#{/if}>Taxref de travail</option>
				</select> 
				#{ifError 'taxoId'}
					<span class="alert alert-error">#{error 'taxoId' /}</span>
				#{/ifError}
			</div>
			
			#{if control.validationType.id == 3}
			<div id="refGeoClass">
			#{/if}
			#{else}
			<div id="refGeoClass" style="display: none;">
			#{/else}
				<label>Type: </label> 
				<select id="refGeoId" name="refGeoId" width="200">
					<option></option>
					<option value="1" #{if control.refGeoAdmID == 1}selected#{/if}>Commune</option>
					<option value="2" #{if control.refGeoAdmID == 2}selected#{/if}>Département</option>
					<option value="3" #{if control.refGeoAdmID == 3}selected#{/if}>Maille</option>
				</select> 
				#{ifError 'refGeoId'}
					<span class="alert alert-error">#{error 'refGeoId' /}</span>
				#{/ifError}
			</div>
			
			#{if control.validationType.id == 9}
			<div id="territoireClass">
			#{/if}
			#{else}
			<div id="territoireClass" style="display: none;">
			#{/else}
				<label>Territoire: </label> 
				<select id="codeTerritoire" name="codeTerritoire" width="200">
					<option></option>
					<option value="FR" #{if control.codeTerritoire == "FR"}selected#{/if}>FR</option>
					<option value="FRA" #{if control.codeTerritoire == "FRA"}selected#{/if}>FRA</option>
					<option value="GF" #{if control.codeTerritoire == "GF"}selected#{/if}>GF</option>
					<option value="MAR" #{if control.codeTerritoire == "MAR"}selected#{/if}>MAR</option>
					<option value="GUA" #{if control.codeTerritoire == "GUA"}selected#{/if}>GUA</option>
					<option value="SM" #{if control.codeTerritoire == "SM"}selected#{/if}>SM</option>
					<option value="SB" #{if control.codeTerritoire == "SB"}selected#{/if}>SB</option>
					<option value="SPM" #{if control.codeTerritoire == "SPM"}selected#{/if}>SPM</option>
					<option value="MAY" #{if control.codeTerritoire == "MAY"}selected#{/if}>MAY</option>
					<option value="REU" #{if control.codeTerritoire == "REU"}selected#{/if}>REU</option>
					<option value="EPA" #{if control.codeTerritoire == "EPA"}selected#{/if}>EPA</option>
					<option value="TAAF" #{if control.codeTerritoire == "TAAF"}selected#{/if}>TAAF</option>
					<option value="NC" #{if control.codeTerritoire == "NC"}selected#{/if}>NC</option>
					<option value="WF" #{if control.codeTerritoire == "WF"}selected#{/if}>WF</option>
					<option value="PF" #{if control.codeTerritoire == "PF"}selected#{/if}>PF</option>
					<option value="CLI" #{if control.codeTerritoire == "CLI"}selected#{/if}>CLI</option>
				</select> 
				#{ifError 'codeTerritoire'}
					<span class="alert alert-error">#{error 'codeTerritoire' /}</span>
				#{/ifError}
			</div>
			
			<div>
			<label>Field</label>
			<select id="fieldIdTab" name="fieldIdTab" style="height:245px;" multiple>
				#{list items:control.datasetType.fields, as:'field'}
					#{list items:control.fields, as:'fieldselect'}
						#{if field.id == fieldselect.id}
					<option value="${field.id}" selected="selected">${field.name}</option>
						#{/if}
						#{else}
						<option value="${field.id}">${field.name}</option>
						#{/else}
					#{/list}
				#{/list}
			</select>
			#{ifError 'fieldIdTab'}<span class="alert alert-error">#{error
				'fieldIdTab' /}</span>
			#{/ifError}
		</div>
		<div class="modal-footer">
			<button class="btn" type="submit">Ajouter</button>
		</div>
	#{/form}
</div>
