#{extends 'main.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
<div id="crudList" class="${type.name}">

	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListSearch">#{crud.search /}</div>

	<div id="crudListTable">
		
		<table class="table table-striped table-condensed" id="harvestUser_table">
		<tr class="table">
			<th>
				<h3><a class="" href="/harvestUsers/list?order=ASC&orderBy=name">Name</a></h3>
			</th>
			<th>
				<h3><a class="" href="/harvestUsers/list?order=ASC&orderBy=isAdmin"> Admin </a></h3>
			</th>
			<th>
				<h3><a class="" href="/harvestUsers/list?order=ASC&orderBy=isPublisher"> Publisher </a></h3>
			</th>
			<th>
				<h3> Delete</h3>
			</th>
		</tr>
				#{list items:objects, as:'harvestUser'}
				<tr class="table">
					<td class="table" id="harvestUser_name"><a id="edit_harvestUser"
						href="@{harvestUsers.show(harvestUser.id)}"><b>${harvestUser.name}</b></a></td>
						
					<td class="table" id="harvestUser_isAdmin">
						#{if harvestUser.getIsAdmin()} 
							<i title="harvestUser is admin" class="icon-ok-sign"></i> 
						#{/if}
						#{else} <i
							title="harvestUser is not admin" class="icon-minus-sign"></i>
						#{/else}
					</td>
					<td class="table" id="harvestUser_isPublisher">
						#{if harvestUser.getIsPublisher()} 
							<i title="harvestUser is publisher" class="icon-ok-sign"></i> 
						#{/if}
						#{else} <i
							title="harvestUser is not publisher" class="icon-minus-sign"></i>
						#{/else}
					</td>
					<td><a href="@{harvestUsers.delete(harvestUser.id)}"><i
						title="remove the dataset" class="icon-remove"></i></a>
					</td>
				</tr>
				#{/list}
		</table>
		
		
	</div>

	<div id="crudListPagination">#{crud.pagination /}</div>

	<p id="crudListAdd">
		<h3><a href="@{blank()}">&{'crud.add', type.modelName}</a></h3>
	</p>

</div>
