body {
	padding-top: 60px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
	white-space: nowrap
}
.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}
