#{extends 'main.html' /} #{set title:'Occurrences' /}
<div id="main">

#{if data != null}
	<h1>${data.emlData.title}</h1>

	<h4>Nombre d'occurences : ${paginator.size()}</h4>
	<div id="ListTable">
		
		<table class="table table-striped table-condensed" id="occurrence_table">
		<tr class="table">
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/catalogNumber">catalogNumber</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/occurrenceRemarks">occurrenceRemarks</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/recordNumber">recordNumber</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/recordedBy">recordedBy</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/individualID">individualID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/individualCount">individualCount</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/sex">sex</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/lifeStage">lifeStage</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/reproductiveCondition">reproductiveCondition</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/behavior">behavior</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/establishmentMeans">establishmentMeans</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/occurrenceStatus">occurrenceStatus</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/preparations">preparations</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/disposition">disposition</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/otherCatalogNumbers">otherCatalogNumbers</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/previousIdentifications">previousIdentifications</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/associatedMedia">associatedMedia</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/associatedReferences">associatedReferences</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/associatedOccurrences">associatedOccurrences</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/associatedSequences">associatedSequences</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/associatedTaxa">associatedTaxa</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/taxonID">taxonID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/scientificNameID">scientificNameID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/acceptedNameUsageID">acceptedNameUsageID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/parentNameUsageID">parentNameUsageID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/originalNameUsageID">originalNameUsageID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/nameAccordingToID">nameAccordingToID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/namePublishedInID">namePublishedInID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/taxonConceptID">taxonConceptID</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/scientificName">scientificName</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/acceptedNameUsage">acceptedNameUsage</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/parentNameUsage">parentNameUsage</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/originalNameUsage">originalNameUsage</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/nameAccordingTo">nameAccordingTo</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/namePublishedIn">namePublishedIn</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/namePublishedInYear">namePublishedInYear</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/higherClassification">higherClassification</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/kingdom">kingdom</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/phylum">phylum</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/classs">classs</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/orderr">orderr</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/family">family</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/genus">genus</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/subgenus">subgenus</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/specificEpithet">specificEpithet</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/infraSpecificEpithet">infraSpecificEpithet</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/kingdom_interpreted">kingdom_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/phylum_interpreted">phylum_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/classs_interpreted">classs_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/orderr_interpreted">orderr_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/family_interpreted">family_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/genus_interpreted">genus_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/subgenus_interpreted">subgenus_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/specificEpithet_interpreted">specificEpithet_interpreted</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/infraSpecificEpithet_inter">infraSpecificEpithet_inter</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/taxonRank">taxonRank</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/verbatimTaxonRank">verbatimTaxonRank</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/scientificNameAuthorship">scientificNameAuthorship</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/vernacularName">vernacularName</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/nomenclaturalCode">nomenclaturalCode</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/taxonomicStatus">taxonomicStatus</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/nomenclaturalStatus">nomenclaturalStatus</a></h5></th>
			<th><h5><a class="" href="/occurrences/list/${data.id}/page/${page}/ASC/taxonRemarks">taxonRemarks</a></h5></th>
		</tr>
				#{paginate.list items:paginator, as:'occurrence'} 
				<tr class="table">
					<td class="table"><b>${occurrence.catalogNumber}</b></td>
					<td class="table"><b>${occurrence.occurrenceRemarks}</b></td>
					<td class="table"><b>${occurrence.recordNumber}</b></td>
					<td class="table"><b>${occurrence.recordedBy}</b></td>
					<td class="table"><b>${occurrence.individualID}</b></td>
					<td class="table"><b>${occurrence.individualCount}</b></td>
					<td class="table"><b>${occurrence.sex}</b></td>
					<td class="table"><b>${occurrence.lifeStage}</b></td>
					<td class="table"><b>${occurrence.reproductiveCondition}</b></td>
					<td class="table"><b>${occurrence.behavior}</b></td>
					<td class="table"><b>${occurrence.establishmentMeans}</b></td>
					<td class="table"><b>${occurrence.occurrenceStatus}</b></td>
					<td class="table"><b>${occurrence.preparations}</b></td>
					<td class="table"><b>${occurrence.disposition}</b></td>
					<td class="table"><b>${occurrence.otherCatalogNumbers}</b></td>
					<td class="table"><b>${occurrence.previousIdentifications}</b></td>
					<td class="table"><b>${occurrence.associatedMedia}</b></td>
					<td class="table"><b>${occurrence.associatedReferences}</b></td><td class="table"><b>${occurrence.associatedOccurrences}</b></td>
					<td class="table"><b>${occurrence.associatedSequences}</b></td>
					<td class="table"><b>${occurrence.associatedTaxa}</b></td>
					<td class="table"><b>${occurrence.taxonID}</b></td>
					<td class="table"><b>${occurrence.scientificNameID}</b></td>
					<td class="table"><b>${occurrence.acceptedNameUsageID}</b></td>
					<td class="table"><b>${occurrence.parentNameUsageID}</b></td>
					<td class="table"><b>${occurrence.originalNameUsageID}</b></td>
					<td class="table"><b>${occurrence.nameAccordingToID}</b></td><td class="table"><b>${occurrence.namePublishedInID}</b></td>
					<td class="table"><b>${occurrence.taxonConceptID}</b></td>
					<td class="table"><b>${occurrence.scientificName}</b></td>
					<td class="table"><b>${occurrence.acceptedNameUsage}</b></td>
					<td class="table"><b>${occurrence.parentNameUsage}</b></td>
					<td class="table"><b>${occurrence.originalNameUsage}</b></td>
					<td class="table"><b>${occurrence.nameAccordingTo}</b></td>
					<td class="table"><b>${occurrence.namePublishedIn}</b></td>
					<td class="table"><b>${occurrence.namePublishedInYear}</b></td>
					<td class="table"><b>${occurrence.higherClassification}</b></td>
					<td class="table"><b>${occurrence.kingdom}</b></td>
					<td class="table"><b>${occurrence.phylum}</b></td>
					<td class="table"><b>${occurrence.classs}</b></td>
					<td class="table"><b>${occurrence.orderr}</b></td>
					<td class="table"><b>${occurrence.family}</b></td>
					<td class="table"><b>${occurrence.genus}</b></td>
					<td class="table"><b>${occurrence.subgenus}</b></td>
					<td class="table"><b>${occurrence.specificEpithet}</b></td>
					<td class="table"><b>${occurrence.infraSpecificEpithet}</b></td>
					<td class="table"><b>${occurrence.kingdom_interpreted}</b></td>
					<td class="table"><b>${occurrence.phylum_interpreted}</b></td>
					<td class="table"><b>${occurrence.classs_interpreted}</b></td>
					<td class="table"><b>${occurrence.orderr_interpreted}</b></td>
					<td class="table"><b>${occurrence.family_interpreted}</b></td>
					<td class="table"><b>${occurrence.genus_interpreted}</b></td>
					<td class="table"><b>${occurrence.subgenus_interpreted}</b></td>
					<td class="table"><b>${occurrence.specificEpithet_interpreted}</b></td>
					<td class="table"><b>${occurrence.infraSpecificEpithet_inter}</b></td>
					<td class="table"><b>${occurrence.taxonRank}</b></td>
					<td class="table"><b>${occurrence.verbatimTaxonRank}</b></td>
					<td class="table"><b>${occurrence.scientificNameAuthorship}</b></td>
					<td class="table"><b>${occurrence.vernacularName}</b></td>
					<td class="table"><b>${occurrence.nomenclaturalCode}</b></td>
					<td class="table"><b>${occurrence.taxonomicStatus}</b></td>
					<td class="table"><b>${occurrence.nomenclaturalStatus}</b></td>
					<td class="table"><b>${occurrence.taxonRemarks}</b></td>
				</tr>
				#{/paginate.list} 
		</table>
		
		#{paginate.controls items:paginator /} 
	</div>

#{/if}
</div>
