#{extends 'main.html' /} #{set title:'Occurrences' /}
<div id="main">

#{if data != null}
	#{if data.emlData != null}
	<h1>${data.emlData.title}</h1>
	#{/if}
	<h4>Nombre d'occurences : ${paginator.size()}</h4>
	<div id="ListTable">
		
		<table class="table table-striped table-condensed" id="occurrence_table">
		<tr class="table">
			#{if !data.type.equals("inpn")}
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'catalogNumber')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'catalogNumber')}"></a>catalogNumber</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'occurrenceRemarks')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'occurrenceRemarks')}"></a>occurrenceRemarks</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'recordNumber')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'recordNumber')}"></a>recordNumber</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'recordedBy')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'recordedBy')}"></a>recordedBy</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'individualID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'individualID')}"></a>individualID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'individualCount')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'individualCount')}"></a>individualCount</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'sex')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'sex')}"></a>sex</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'lifeStage')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'lifeStage')}"></a>lifeStage</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'reproductiveCondition')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'reproductiveCondition')}"></a>reproductiveCondition</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'behavior')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'behavior')}"></a>behavior</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'establishmentMeans')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'establishmentMeans')}"></a>establishmentMeans</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'occurrenceStatus')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'occurrenceStatus')}"></a>occurrenceStatus</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'preparations')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'preparations')}"></a>preparations</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'disposition')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'disposition')}"></a>disposition</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'otherCatalogNumbers')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'otherCatalogNumbers')}"></a>otherCatalogNumbers</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'previousIdentifications')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'previousIdentifications')}"></a>previousIdentifications</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'associatedMedia')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'associatedMedia')}"></a>associatedMedia</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'associatedReferences')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'associatedReferences')}"></a>associatedReferences</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'associatedOccurrences')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'associatedOccurrences')}"></a>associatedOccurrences</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'associatedSequences')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'associatedSequences')}"></a>associatedSequences</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'associatedTaxa')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'associatedTaxa')}"></a>associatedTaxa</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'taxonID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'taxonID')}"></a>taxonID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'scientificNameID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'scientificNameID')}"></a>scientificNameID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'acceptedNameUsageID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'acceptedNameUsageID')}"></a>acceptedNameUsageID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'parentNameUsageID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'parentNameUsageID')}"></a>parentNameUsageID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'originalNameUsageID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'originalNameUsageID')}"></a>originalNameUsageID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nameAccordingToID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nameAccordingToID')}"></a>nameAccordingToID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'namePublishedInID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'namePublishedInID')}"></a>namePublishedInID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'taxonConceptID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'taxonConceptID')}"></a>taxonConceptID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'scientificName')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'scientificName')}"></a>scientificName</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'acceptedNameUsage')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'acceptedNameUsage')}"></a>acceptedNameUsage</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'parentNameUsage')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'parentNameUsage')}"></a>parentNameUsage</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'originalNameUsage')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'originalNameUsage')}"></a>originalNameUsage</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nameAccordingTo')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nameAccordingTo')}"></a>nameAccordingTo</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'namePublishedIn')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'namePublishedIn')}"></a>namePublishedIn</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'namePublishedInYear')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'namePublishedInYear')}"></a>namePublishedInYear</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'higherClassification')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'higherClassification')}"></a>higherClassification</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'kingdom')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'kingdom')}"></a>kingdom</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'phylum')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'phylum')}"></a>phylum</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'classs')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'classs')}"></a>classs</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'orderr')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'orderr')}"></a>orderr</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'family')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'family')}"></a>family</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'genus')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'genus')}"></a>genus</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'subgenus')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'subgenus')}"></a>subgenus</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'specificEpithet')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'specificEpithet')}"></a>specificEpithet</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'infraSpecificEpithet')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'infraSpecificEpithet')}"></a>infraSpecificEpithet</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'kingdom_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'kingdom_interpreted')}"></a>kingdom_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'phylum_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'phylum_interpreted')}"></a>phylum_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'classs_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'classs_interpreted')}"></a>classs_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'orderr_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'orderr_interpreted')}"></a>orderr_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'family_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'family_interpreted')}"></a>family_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'genus_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'genus_interpreted')}"></a>genus_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'subgenus_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'subgenus_interpreted')}"></a>subgenus_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'specificEpithet_interpreted')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'specificEpithet_interpreted')}"></a>specificEpithet_interpreted</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'infraSpecificEpithet_inter')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'infraSpecificEpithet_inter')}"></a>infraSpecificEpithet_inter</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'taxonRank')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'taxonRank')}"></a>taxonRank</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'verbatimTaxonRank')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'verbatimTaxonRank')}"></a>verbatimTaxonRank</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'scientificNameAuthorship')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'scientificNameAuthorship')}"></a>scientificNameAuthorship</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'vernacularName')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'vernacularName')}"></a>vernacularName</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nomenclaturalCode')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nomenclaturalCode')}"></a>nomenclaturalCode</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'taxonomicStatus')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'taxonomicStatus')}"></a>taxonomicStatus</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nomenclaturalStatus')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nomenclaturalStatus')}"></a>nomenclaturalStatus</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'taxonRemarks')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'taxonRemarks')}"></a>taxonRemarks</h5></th>
			#{/if}
			#{else}
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'catalogNumber')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'catalogNumber')}"></a>catalogNumber</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'coordinateUncertaintyInMeters')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'coordinateUncertaintyInMeters')}"></a>coordinateUncertaintyInMeters</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'county')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'county')}"></a>county</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'decimalLatitude')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'decimalLatitude')}"></a>decimalLatitude</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'decimalLongitude')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'decimalLongitude')}"></a>decimalLongitude</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'identifiedBy')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'identifiedBy')}"></a>identifiedBy</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'locality')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'locality')}"></a>locality</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nameAccordingTo')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nameAccordingTo')}"></a>nameAccordingTo</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'occurrenceStatus')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'occurrenceStatus')}"></a>occurrenceStatus</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'recordNumber')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'recordNumber')}"></a>recordNumber</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'taxonID')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'taxonID')}"></a>taxonID</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'typeSource')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'typeSource')}"></a>typeSource</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'restrictionLocalisationP')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'restrictionLocalisationP')}"></a>restrictionLocalisationP</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'restrictionMaille')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'restrictionMaille')}"></a>restrictionMaille</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'restrictionCommune')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'restrictionCommune')}"></a>restrictionCommune</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'restrictionTotal')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'restrictionTotal')}"></a>restrictionTotal</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'lienOrigine')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'lienOrigine')}"></a>lienOrigine</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nomScientifiqueCite')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nomScientifiqueCite')}"></a>nomScientifiqueCite</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'identiteOBS')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'identiteOBS')}"></a>identiteOBS</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'organismeOBS')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'organismeOBS')}"></a>organismeOBS</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'validateur')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'validateur')}"></a>validateur</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'dateInf')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'dateInf')}"></a>dateInf</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'dateSup')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'dateSup')}"></a>dateSup</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'codeInsee')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'codeInsee')}"></a>codeInsee</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'nomCommune')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'nomCommune')}"></a>nomCommune</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'pourcentageCommune')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'pourcentageCommune')}"></a>pourcentageCommune</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'codeEN')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'codeEN')}"></a>codeEN</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'typeEN')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'typeEN')}"></a>typeEN</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'pourcentageEN')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'pourcentageEN')}"></a>pourcentageEN</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'codeMaille')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'codeMaille')}"></a>codeMaille</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'pourcentageMaille')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'pourcentageMaille')}"></a>pourcentageMaille</h5></th>
			<th><h5><a class="icon-circle-arrow-up" href="@{Occurrences.list(data.id, page, 'ASC', 'cdNom')}"></a><a class="icon-circle-arrow-down" href="@{Occurrences.list(data.id, page, 'DESC', 'cdNom')}"></a>cdNom</h5></th>
			#{/else}
		</tr>
				#{paginate.list items:paginator, as:'occurrence'} 
				<tr class="table">
					#{if !data.type.equals("inpn")}
					<td class="table"><b>${occurrence.catalogNumber}</b></td>
					<td class="table"><b>${occurrence.occurrenceRemarks}</b></td>
					<td class="table"><b>${occurrence.recordNumber}</b></td>
					<td class="table"><b>${occurrence.recordedBy}</b></td>
					<td class="table"><b>${occurrence.individualID}</b></td>
					<td class="table"><b>${occurrence.individualCount}</b></td>
					<td class="table"><b>${occurrence.sex}</b></td>
					<td class="table"><b>${occurrence.lifeStage}</b></td>
					<td class="table"><b>${occurrence.reproductiveCondition}</b></td>
					<td class="table"><b>${occurrence.behavior}</b></td>
					<td class="table"><b>${occurrence.establishmentMeans}</b></td>
					<td class="table"><b>${occurrence.occurrenceStatus}</b></td>
					<td class="table"><b>${occurrence.preparations}</b></td>
					<td class="table"><b>${occurrence.disposition}</b></td>
					<td class="table"><b>${occurrence.otherCatalogNumbers}</b></td>
					<td class="table"><b>${occurrence.previousIdentifications}</b></td>
					<td class="table"><b>${occurrence.associatedMedia}</b></td>
					<td class="table"><b>${occurrence.associatedReferences}</b></td><td class="table"><b>${occurrence.associatedOccurrences}</b></td>
					<td class="table"><b>${occurrence.associatedSequences}</b></td>
					<td class="table"><b>${occurrence.associatedTaxa}</b></td>
					<td class="table"><b>${occurrence.taxonID}</b></td>
					<td class="table"><b>${occurrence.scientificNameID}</b></td>
					<td class="table"><b>${occurrence.acceptedNameUsageID}</b></td>
					<td class="table"><b>${occurrence.parentNameUsageID}</b></td>
					<td class="table"><b>${occurrence.originalNameUsageID}</b></td>
					<td class="table"><b>${occurrence.nameAccordingToID}</b></td><td class="table"><b>${occurrence.namePublishedInID}</b></td>
					<td class="table"><b>${occurrence.taxonConceptID}</b></td>
					<td class="table"><b>${occurrence.scientificName}</b></td>
					<td class="table"><b>${occurrence.acceptedNameUsage}</b></td>
					<td class="table"><b>${occurrence.parentNameUsage}</b></td>
					<td class="table"><b>${occurrence.originalNameUsage}</b></td>
					<td class="table"><b>${occurrence.nameAccordingTo}</b></td>
					<td class="table"><b>${occurrence.namePublishedIn}</b></td>
					<td class="table"><b>${occurrence.namePublishedInYear}</b></td>
					<td class="table"><b>${occurrence.higherClassification}</b></td>
					<td class="table"><b>${occurrence.kingdom}</b></td>
					<td class="table"><b>${occurrence.phylum}</b></td>
					<td class="table"><b>${occurrence.classs}</b></td>
					<td class="table"><b>${occurrence.orderr}</b></td>
					<td class="table"><b>${occurrence.family}</b></td>
					<td class="table"><b>${occurrence.genus}</b></td>
					<td class="table"><b>${occurrence.subgenus}</b></td>
					<td class="table"><b>${occurrence.specificEpithet}</b></td>
					<td class="table"><b>${occurrence.infraSpecificEpithet}</b></td>
					<td class="table"><b>${occurrence.kingdom_interpreted}</b></td>
					<td class="table"><b>${occurrence.phylum_interpreted}</b></td>
					<td class="table"><b>${occurrence.classs_interpreted}</b></td>
					<td class="table"><b>${occurrence.orderr_interpreted}</b></td>
					<td class="table"><b>${occurrence.family_interpreted}</b></td>
					<td class="table"><b>${occurrence.genus_interpreted}</b></td>
					<td class="table"><b>${occurrence.subgenus_interpreted}</b></td>
					<td class="table"><b>${occurrence.specificEpithet_interpreted}</b></td>
					<td class="table"><b>${occurrence.infraSpecificEpithet_inter}</b></td>
					<td class="table"><b>${occurrence.taxonRank}</b></td>
					<td class="table"><b>${occurrence.verbatimTaxonRank}</b></td>
					<td class="table"><b>${occurrence.scientificNameAuthorship}</b></td>
					<td class="table"><b>${occurrence.vernacularName}</b></td>
					<td class="table"><b>${occurrence.nomenclaturalCode}</b></td>
					<td class="table"><b>${occurrence.taxonomicStatus}</b></td>
					<td class="table"><b>${occurrence.nomenclaturalStatus}</b></td>
					<td class="table"><b>${occurrence.taxonRemarks}</b></td>
					#{/if}
					#{else}
					<td class="table"><b>${occurrence.catalogNumber}</b></td>
					<td class="table"><b>${occurrence.coordinateUncertaintyInMeters}</b></td>
					<td class="table"><b>${occurrence.county}</b></td>
					<td class="table"><b>${occurrence.decimalLatitude}</b></td>
					<td class="table"><b>${occurrence.decimalLongitude}</b></td>
					<td class="table"><b>${occurrence.identifiedBy}</b></td>
					<td class="table"><b>${occurrence.locality}</b></td>
					<td class="table"><b>${occurrence.nameAccordingTo}</b></td>
					<td class="table"><b>${occurrence.occurrenceStatus}</b></td>
					<td class="table"><b>${occurrence.recordNumber}</b></td>
					<td class="table"><b>${occurrence.taxonID}</b></td>
					<td class="table"><b>${occurrence.typeSource}</b></td>
					<td class="table"><b>${occurrence.restrictionLocalisationP}</b></td>
					<td class="table"><b>${occurrence.restrictionMaille}</b></td>
					<td class="table"><b>${occurrence.restrictionCommune}</b></td>
					<td class="table"><b>${occurrence.restrictionTotal}</b></td>
					<td class="table"><b>${occurrence.lienOrigine}</b></td>
					<td class="table"><b>${occurrence.nomScientifiqueCite}</b></td>
					<td class="table"><b>${occurrence.identiteOBS}</b></td>
					<td class="table"><b>${occurrence.organismeOBS}</b></td>
					<td class="table"><b>${occurrence.validateur}</b></td>
					<td class="table"><b>${occurrence.dateInf}</b></td>
					<td class="table"><b>${occurrence.dateSup}</b></td>
					<td class="table"><b>${occurrence.codeInsee}</b></td>
					<td class="table"><b>${occurrence.nomCommune}</b></td>
					<td class="table"><b>${occurrence.pourcentageCommune}</b></td>
					<td class="table"><b>${occurrence.codeEN}</b></td>
					<td class="table"><b>${occurrence.typeEN}</b></td>
					<td class="table"><b>${occurrence.pourcentageEN}</b></td>
					<td class="table"><b>${occurrence.codeMaille}</b></td>
					<td class="table"><b>${occurrence.pourcentageMaille}</b></td>
					<td class="table"><b>${occurrence.cdNom}</b></td>
					#{/else}
				</tr>
				#{/paginate.list} 
		</table>
		
		#{paginate.controls items:paginator /} 
	</div>

#{/if}
</div>
