<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<!-- <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/blueprint/blueprint/screen.css'}"> -->
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap/css/bootstrap.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<script src="@{'/public/javascripts/jquery-1.7.1.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.blockUI.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/stylesheets/bootstrap/js/bootstrap.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/OpenLayers-2.12/OpenLayers.js'}"
		type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
<script type="text/javascript">
	function blockloading() {
		$.blockUI({
			message : $('#blockloading'),
			css : {
				border : '1px solid #5595a7',
				background : 'white',
				width : '400px'
			}
		});
	};
</script>
</head>
<body>
	<div class="container" id="content">
		<!-- block displayed while waiting for the harvesting of a dataset -->
		<div id="blockloading" style="display: none;">
			<h3>Please wait...</h3>
			<img src="@{'/public/images/loading.gif'}" /> <br /> <a href="">Refresh</a>
		</div>
		<div class="navbar navbar-fixed-top" id="header">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" id="logo" href="@{Application.index()}">GBIF
						France Harvester</a>
					<ul class="nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Fournisseurs <b class="caret"></b></a>
							<ul class="dropdown-menu">
		                        <li class="">
		                        	<a href="@{DataPublishers.list()}">Liste des fournisseurs</a>
		                        </li>
		                        <li class="">
									<a href="@{DataPublishers.add()}">Ajouter un fournisseur</a>
								</li>
		                    </ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Jeux de données <b class="caret"></b></a>
							<ul class="dropdown-menu">
		                        <li class="">
		                        	<a href="@{Datasets.list()}">Liste des jeux de données</a>
		                        </li>
		                        <li class="">
									<a href="@{Datasets.add()}">Ajouter un jeu de données</a>
								</li>
		                    </ul>
						</li>
						<li><a href="@{Secure.logout()}">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</div>
		#{doLayout /}
</body>
</html>
